/* =============== COMMON STYLES =============== */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* =============== /COMMON STYLES =============== */

/* =============== HEADER =============== */
.header-wrapper {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-svg {
  margin-left: 4px;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms linear;
}
.header-link-icon {
  stroke: #111;
  transition: stroke 250ms linear;
}
.header-link-icon:hover,
.header-link-icon:focus {
  stroke: #fd9222;
}
.header-link:hover,
.header-link:focus {
  color: #fd9222;
}

.header-icon-list {
  display: flex;
  column-gap: 18px;
  margin-left: 90px;
}
.header-svg-icon {
  display: block;
}
/* =============== /HEADER  =============== */

/* =============== HERO =============== */
.hero {
  background-color: #1e1823;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-bottom: 72px;
  padding-bottom: 46px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url("../img/bg.jpg");
  background-size: cover;
}
.container-hero {
  padding-left: 56px;
  padding-right: 56px;
}
.hero-title {
  max-width: 484px;
  padding-top: 375px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-bottom-block {
  display: flex;

  align-items: center;
}
.hero-buttom {
  min-width: 144px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: #fd9222;
  cursor: pointer;
  margin-right: 14px;
  transition: background-color 250ms linear, color 250ms linear;
}
.hero-buttom:hover,
.hero-buttom:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.how-its-made-lik {
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  height: 45px;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
  transition: border 250ms linear, color 250ms linear;
}
.how-its-made-lik:hover,
.how-its-made-lik:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
}
.skroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  fill: #fd9222;
  transition: color 250ms linear, fill 250ms linear;
}
.skroll-down-link:hover,
.skroll-down-link:focus {
  color: #fd9222;
  fill: #fff;
}
.scroll-colo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  transition: background-color 250ms linear;
}
.skroll-down-link:hover .scroll-colo,
.skroll-down-link:focus .scroll-colo {
  background-color: #fd9222;
}
/* =============== /HERO =============== */

/* =============== BENEFITS =============== */
.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.container-benefits {
  padding-left: 52px;
  padding-right: 52px;
}
.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}
.benefits-list {
  display: flex;
  column-gap: 70px;
}
.benefits-list-item {
  position: relative;
  width: calc((100% - 2 * 70px) / 3);
}
.benefits-list-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 124px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* =============== /BENEFITS =============== */

/* =============== INGREDIENTS =============== */

.ingredients {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ingredients-title {
  max-width: 411px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-title span {
  color: #fd9222;
}
.ingredients-text {
  max-width: 486px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}
.ingredients-list-item {
  position: relative;
  overflow: hidden;
  width: calc((100% - 3 * 19px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
  border: 1px solid #1e1823;
}
.ingredients-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}
.ingredients-list-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 32px;
}
.ingredient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  color: #111;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.ingredients-list-item:hover .ingredient-overlay,
.ingredients-list-item:focus-within .ingredient-overlay {
  transform: translateY(0);
}
.ingredient-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}
.ingredient-overlay-list {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.ingredient-overlay-item {
  border-radius: 35px;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  background-color: #fd9222;
  margin-bottom: 14px;
}
.ingredient-overlay-item:last-child {
  background-color: #fff;
  color: #111;
  border: 1px solid #fd9222;
}
.ingredient-overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.ingredient-overlay-content {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none;
}
/* =============== /INGREDIENTS =============== */

/* =============== How made Styles =============== */
.how-made {
  padding-bottom: 50px;
  padding-top: 50px;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.how-made-title {
  margin-bottom: 50px;
}
.accent-color {
  color: #fd9222;
}
.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-content {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-list {
  padding-right: 26px;
}

.how-made-list-title {
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 32px;
}

.how-made-list-item {
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.how-made-list-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #eceded;
  border-radius: 50%;
  background-color: #4c4c4c;
  content: "";
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/* =============== /How made Styles =============== */

/* =============== REVIEWS =============== */
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 91px;
}
.reviews-title span {
  color: #fd9222;
}

.review-list {
  display: flex;

  gap: 28px;
}
.review-list-item {
  position: relative;
  flex: 1;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
.review-image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  padding-top: 56px;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  padding: 24px 24px;
}

.reviews-buttom {
  display: block;
  min-width: 222px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms linear, color 250ms linear;
}

.reviews-buttom:hover,
.reviews-buttom:focus {
  background-color: #fd9222;
  color: #ffffff;
}
/* =============== /REVIEWS =============== */

/* =============== FOOTER =============== */
.footer {
  background-color: #1e1823;
}
.foot-div {
  display: flex;
  padding-top: 50px;
  padding-bottom: 54px;
}
.foot-titile {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}
.foot-titile span {
  color: #fd9222;
}
.foot-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
}
.foot-addr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.foot-adress {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
}
.spanspan {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
  height: 0px;
  transform: rotate(-180deg);
  margin-bottom: 24px;
}
.footer-menu {
  display: flex;
  column-gap: 24px;
  padding-bottom: 86px;
}
.footer-menu-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  color: #fd9222;
}
/* =============== /FOOTER =============== */
