/*  #region=============== COMMON STYLES =============== */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
body.modal-open {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.accent-color {
  color: #fd9222;
}
.section-paddings {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.container {
  max-width: 367px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion  =============== /COMMON STYLES =============== */

/*#region  =============== HEADER STYLES =============== */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: none;
}
.header-icon-list {
  display: none;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
}
.logo-svg {
  margin-left: 4px;
}

/* #endregion  =============== /HEADER STYLES =============== */
/* #region  =============== MOBILE MENU =============== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms linear;
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu-container {
  position: relative;
  padding-top: 136px;
  padding-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #ffffff;
  transition: stroke 250ms linear;
}
.mobile-menu-close-btn:focus {
  stroke: #fd9222;
}

.mobile-menu-list-item:not(:last-child) {
  margin-bottom: 24px;
  transition: color 250ms linear;
}
.mobile-menu-list-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.mobile-menu-list-link:focus {
  color: #fd9222;
}
.mobile-menu-social-list {
  display: flex;
  column-gap: 18px;
}

.mobile-menu-social-list-link {
  display: block;
  stroke: #ffffff;
  transition: stroke 250ms linear;
  line-height: 0;
}
.mobile-menu-social-list-link:focus {
  stroke: #fd9222;
}
/* #endregion  =============== /MOBILE MENU =============== */

/* #region  =============== HERO STYLES =============== */
.hero {
  background-color: #1e1823;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url("../img/bg-mob.jpg");
  background-size: cover;
}

.container-hero {
  padding-left: 36px;
  padding-right: 36px;
}
.hero-title {
  padding-top: 395px;
  max-width: 290px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}
.hero-bottom-block {
  display: flex;
  flex-wrap: wrap;
}
.hero-buttom {
  min-width: 120px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  cursor: pointer;
  margin-right: 14px;
  transition: background-color 250ms linear, color 250ms linear;
}
.hero-buttom:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.how-its-made-lik {
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 159px;
  transition: border 250ms linear, color 250ms linear;
  margin-bottom: 32px;
}
.how-its-made-lik:hover,
.how-its-made-lik:focus {
  color: #fd9222;
  border: 1px solid #fd9222;
}
.skroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #fff;
  margin-right: auto;
  fill: #fd9222;
  transition: color 250ms linear, fill 250ms linear;
}
.skroll-down-link:focus {
  color: #fd9222;
  fill: #fff;
}
.scroll-colo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  transition: background-color 250ms linear;
}
.skroll-down-link:focus .scroll-colo {
  background-color: #fd9222;
}
/* #endregion =============== /HERO STYLES =============== */
/* #region =============== BENEFITS STYLES =============== */
.benefits {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.benefits-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 38px;
}

.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion =============== /BENEFITS STYLES =============== */
/* #region =============== INGREDIENTS =============== */

.ingredients-title {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.ingredients-text {
  max-width: 335px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.ingredients-list-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
  border: 1px solid #1e1823;
}
.ingredients-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.ingredients-list-item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 28px;
}
.ingredient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  color: #111;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.ingredients-list-item:hover .ingredient-overlay,
.ingredients-list-item:focus-within .ingredient-overlay {
  transform: translateY(0);
}
.ingredient-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}
.ingredient-overlay-list {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.ingredient-overlay-item {
  border-radius: 35px;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  background-color: #fd9222;
  margin-bottom: 14px;
}
.ingredient-overlay-item:last-child {
  background-color: #fff;
  color: #111;
  border: 1px solid #fd9222;
}
.ingredient-overlay-text {
  max-width: 279px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.ingredient-overlay-content {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: none;
  max-height: 1000px;
}
/* #endregion  =============== /INGREDIENTS =============== */
/* #region =============== HOW MADE   =============== */

.how-made-title {
  margin-bottom: 32px;
}

.how-made-img {
  width: 335px;
  height: 500px;
  margin-bottom: 20px;
}
.how-made-content-wrapper {
  display: flex;
  flex-direction: column;
}

.how-made-text-content {
  flex-grow: 1;
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-list-title {
  width: 307px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111111;
  margin-bottom: 20px;
}

.how-made-list-item {
  position: relative;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.how-made-list-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #eceded;
  border-radius: 50%;
  background-color: #4c4c4c;
  content: "";
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* #endregion =============== /HOW MADE  =============== */
/* #region =============== /REVIEWS  =============== */
.reviews-title {
  margin-bottom: 74px;
}

.review-list-item {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  overflow: visible;
  height: auto;
}
.review-image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  padding-top: 56px;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  padding: 24px 18px 42px 14px;
}

.reviews-buttom {
  display: block;
  min-width: 165px;
  margin-top: 32px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms linear, color 250ms linear;
}

.reviews-buttom:hover,
.reviews-buttom:focus {
  background-color: #fd9222;
  color: #ffffff;
}
.swiper-container {
  position: relative;
  overflow: visible;
}

.swiper {
  overflow: hidden;
  padding-top: 60px;
  margin-top: -60px;
}

.swiper-wrapper {
  overflow: visible;
}

.swiper-slide {
  overflow: visible;
}

.swiper-pagination {
  position: relative;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  bottom: auto !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  width: 22px;
  border-radius: 11px;
  background-color: #ff7a00;
}

/* #endregion =============== REVIEWS  =============== */
/* #region  MAX-WIDTH 767PX  */
@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    background-color: transparent;
    stroke: #111111;
    line-height: 0;
    transition: stroke 250ms linear;
  }
  .mobile-menu-btn:focus {
    stroke: #fd9222;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}
/* #endregion  MAX-WIDTH 767PX  */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-made-container {
    padding-left: 61px;
    padding-right: 61px;
  }
}
@media screen and (min-width: 768px) {
  /* #region ===============  COMMON STYLES TAB =============== */
  .section-paddings {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }
  .container {
    max-width: 736px;
  }
  /* #endregion =============== /COMMON STYLES TAB =============== */

  /* #region =============== HEADER STYLES TAB =============== */

  .header-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    display: flex;
    column-gap: 24px;
  }

  .header-icon-list {
    display: flex;
    column-gap: 18px;
    margin-left: 48px;
  }

  .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    transition: color 250ms linear;
  }
  .header-link-icon {
    display: block;
    stroke: #111;
    transition: stroke 250ms linear;
    line-height: 0;
  }
  .header-link-icon:hover,
  .header-link-icon:focus {
    stroke: #fd9222;
  }
  .header-link:hover,
  .header-link:focus {
    color: #fd9222;
  }
  .mobile-menu-btn {
    display: none;
  }
  /* #endregion =============== /HEADER STYLES  TAB =============== */
  /* #region =============== HERO STYLES TAB =============== */
  .hero {
    max-width: 768px;
    border-radius: 30px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url("../img/bg-tab.jpg");
    background-size: cover;
  }
  .container-hero {
    padding-left: 56px;
    padding-right: 56px;
  }
  .how-its-made-lik {
    margin-bottom: 0;
  }

  .hero-title {
    padding-top: 671px;
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }

  .hero-buttom {
    min-width: 144px;
    height: 45px;
    padding: 14px 40px;
    transition: background-color 250ms linear, color 250ms linear;
  }
  .hero-buttom:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
  .how-its-made-lik {
    height: 45px;
    border-radius: 100px;
    padding: 14px 40px;
    min-width: 183px;
  }
  .skroll-down-link {
    font-size: 14px;
    line-height: 1.17;
    margin-left: auto;
    margin-right: 0;
  }
  .skroll-down-link:hover {
    color: #fd9222;
    fill: #fff;
  }
  .scroll-colo {
    width: 38px;
    height: 38px;
  }
  .skroll-down-link:hover .scroll-colo {
    background-color: #fd9222;
  }
  /* #endregion =============== /HERO STYLES TAB =============== */
  /* #region =============== BENEFITS STYLES TAB =============== */
  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }

  .benefits-list {
    gap: 32px 60px;
  }

  .benefits-list-item {
    position: relative;
    width: calc((100% - 2 * 32px) / 2);
  }

  .benefits-text {
    font-size: 14px;
  }

  /* #endregion =============== /BENEFITS STYLES TAB =============== */
  /* #region  =============== INGREDIENTS TAB =============== */
  .ingredients-title {
    max-width: 411px;
    margin-bottom: 28px;
  }
  .ingredients-text {
    max-width: 486px;
  }
  .ingredients-list {
    gap: 32px;
  }
  .ingredients-list-item {
    width: calc((100% - 1 * 32px) / 2);
  }
  /* #endregion  =============== /INGREDIENTS TAB =============== */

  /* #region =============== HOW MADE TAB  =============== */
  .how-made-title {
    margin-bottom: 50px;
  }
  .how-made-img {
    width: 614px;
    height: 400px;
  }
  .how-made-text-content {
    padding: 32px;
  }
  .how-made-list-title {
    width: 350px;
  }
  .how-made-list-item {
    max-width: 480px;
  }
  /* #endregion =============== /HOW MADE TAB  =============== */
  /* #region =============== REVIEWS TAB  =============== */
  .reviews-title {
    margin-bottom: 91px;
  }
  .review-text {
    padding: 24px 14px 24px 14px;
  }
  .review-list-item {
    margin-right: 16px;
  }
  .reviews-buttom {
    min-width: 222px;
    margin-top: 50px;
    font-size: 18px;
    color: #111;

    padding: 14px 40px;
  }
  .swiper-pagination {
    margin-top: 31px;
  }
  /* #endregion =============== /REVIEWS TAB  =============== */
}

@media screen and (min-width: 1200px) {
  /* =============== COMMON STYLES DESC =============== */
  .section-paddings {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container {
    max-width: 1168px;
  }
  /* =============== /COMMON STYLES DESC =============== */

  /* #region =============== HEADER STYLES DESC =============== */
  .header-icon-list {
    margin-left: 90px;
  }
  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }
  /* #endregion =============== /HEADER STYLES  DESC=============== */
  /* #region =============== HERO STYLES DESC =============== */
  .hero {
    max-width: 1200px;
    border-radius: 30px;
    margin-bottom: 72px;
    padding-bottom: 40px;
    background-image: linear-gradient(
        rgba(30, 24, 35, 0.4),
        rgba(30, 24, 35, 0.4)
      ),
      url("../img/bg.jpg");
    background-size: cover;
  }

  .container-hero {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-title {
    padding-top: 381px;
    max-width: 484px;
  }

  /* #endregion =============== /HERO STYLES DESC =============== */
  /* #region =============== BENEFITS STYLES DESC =============== */
  .benefits {
    margin-bottom: 50px;
  }

  .container-benefits {
    padding-left: 34px;
    padding-right: 34px;
  }
  .benefits-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;
  }
  .benefits-list {
    column-gap: 70px;
  }
  .benefits-list-item {
    position: relative;
    width: calc((100% - 2 * 88px) / 3);
  }
  .benefits-list-item:not(:last-child)::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 124px;
  }
  /* #endregion =============== /BENEFITS STYLES DESC =============== */
  /* #region =============== INGREDIENTS STYLE DESC =============== */
  .ingredients-title {
    max-width: 411px;
    margin-bottom: 28px;
  }

  .ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
  }
  .ingredients-list-item {
    width: calc((100% - 3 * 19px) / 4);
  }

  .ingredients-image {
    margin-bottom: 34px;
  }
  .ingredients-list-item-text {
    padding-left: 32px;
  }
  .ingredient-overlay-text {
    max-width: 230px;
  }

  /* #endregion =============== /INGREDIENTS STYLE DESC  =============== */
  /* #region =============== HOW MADE DESC  =============== */

  .how-made-content-wrapper {
    flex-direction: row;
    column-gap: 20px;
  }

  .how-made-list {
    padding-right: 27px;
  }

  .how-made-list-title {
    margin-bottom: 28px;
  }

  .how-made-img {
    width: 600px;
    height: 400px;
    margin-bottom: 0;
    max-width: none;
  }
  /* #endregion =============== /HOW MADE DESC  =============== */
  /* #region =============== /REVIEWS DESC  =============== */
  .swiper-slide:last-child {
    margin-right: 0 !important;
  }
  .reviews-title {
    margin-bottom: 91px;
  }

  .review-subtitle {
    padding-top: 56px;
  }
  .review-text {
    padding: 24px 24px;
  }

  .reviews-buttom {
    min-width: 222px;
  }

  /* #endregion =============== REVIEWS DESC  =============== */
}
